// Hide curly brackets for binded data
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}

.feed {

  .header {
    height: 150px;
  }

  .panel-default {
    box-shadow: -2px 2px 5px 2px rgba(0,0,0,.2);
    transition: .3s;
  }

  .panel-default:hover {
    border: solid 1px;
    border-radius: 3px;
    border-color: rgba(0,0,0,.5);
    transition: .5s;
  }

}
