<!DOCTYPE html>
<html lang="en" ng-app="videoApp" ng-cloak>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Channel9 RSS Feed</title>
  <!-- CSS Files -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <link href="css/animations.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-controller="videoCtrl">
  <!-- TODO:
  1. Sort By? 
  -->

  <!-- Basic Filters for Search -->
  <div class="container search-filters" ng-if="searchFilters.showFilters == true">

   <h1><small>Search By</small></h1>
   <ul class="list-inline">
     <li>
       <div class="checkbox">
        <h4><input type="checkbox" ng-model="searchFilters.title">Title</h4>
      </div>
     </li>
     <li>
       <div class="checkbox">
        <h4><input type="checkbox" ng-model="searchFilters.author">Author</h4>
      </div>
     </li>
     <li>
       <div class="checkbox">
        <h4><input type="checkbox" ng-model="searchFilters.tags">Tags</h4>
      </div>
     </li>
   </ul>
  </div>

  <div class="container">
    <div class="feed">

      <!-- Navigation Bar -->
      <nav class="navbar navbar-default navbar-fixed-top"
        data-scroll-pos ng-class="{'not-top': scrollPosition > 50}">
        <div class="container-fluid" >

          <!-- Page Title -->
          <div class="navbar-header" id="page-title">
            <ul class="list-inline">
              <a href="videoapp.html">
                <h1>{{feed.title}} Feed</h1>
              </a>
            </ul>
          </div>

          <!-- Search -->
          <div id="search">
            <!-- <li> -->
              <input type="text" placeholder="Search"
                ng-focus="searchBar.selected = true"
                ng-blur="searchBar.selected = false"
                ng-class="{'search_selected': searchBar.selected, 'search_unselected': !searchBar.selected}"
                ng-model="search_val" maxlength=30 id="search_bar"
                ng-keyup="$event.keyCode == 13 && search_feed(search_val)"
                title="Press Enter to Search">
              <button type="submit" class="btn btn-default" id="toggle_filters"
                ng-click="searchFilters.showFilters = !searchFilters.showFilters"
                title="Toggle Search Filters">
                  Filters
                  <small><i class="glyphicon"
                    ng-class="{'glyphicon-chevron-down': !searchFilters.showFilters, 'glyphicon-chevron-up': searchFilters.showFilters}"></i></small>
              </button>
            <!-- </li> -->
          </div>

        </div>
      </nav>

      <!-- Description + Link to original Feed -->
      <div class="feed-description">
        <a href="https://channel9.msdn.com/" target="_blank" title="Channel 9 Link">
          <img ng-src="{{feed.icon}}">
        </a>
        <h3><small>{{feed.description}}</small></h3>
      </div>

      <!-- Feed Channel Items Starts here -->
      <uib-accordion close-others="true">
        <div uib-accordion-group class="panel panel-warning" is-open="status.open"
          ng-repeat="item in feed.items">

          <!-- Item Heading -->
          <uib-accordion-heading class="item-heading">
            <ul class="list-inline">
              <!-- Thumbnail -->
              <li class="pull-left" ng-if="!status.open">
                <img id="thumbnail"
                ng-src="{{item.thumbnail}}" alt="">
              </li>
              <!-- Title + Author + Date published -->
              <li>
                <div id="heading_info">
                  <div id="video_title">{{item.title}}</div>
                  <h5>By {{item.author}}</h5>
                  <h6>{{item.date}}</h6>
                </div>
              </li>
              <!-- Open/Close Arrow -->
              <li class="pull-right">
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </li>
            </ul>
          </uib-accordion-heading>

          <!-- Item Body (dropdown) -->
          <div class="item-body" ng-if="status.open">
            <!-- Video -->
            <!-- Thumbnail of Video with Duration -->
            <div id="video_thumbnail" ng-click="playVideo = true;" ng-show="!playVideo && item.video">
              <img id="bg" ng-src="{{item.thumbnail}}">
              <img id="play_icon" src="lib/images/playvid.png">
              <h4 id="duration">{{item.duration}}</h4>
            </div>
            <!-- Vanilla Thumbnail if no video. -->
            <div ng-show="!item.video">
              <img id="bg" ng-src="{{item.thumbnail}}">
              <h1><small>No Video Available.</small></h1>
            </div>
            <!-- The Actual Video -->
            <div id="item_video" ng-if="item.video && playVideo">
              <video controls>
                 <source ng-src="{{item.video}}" type="video/mp4"/>
              </video>
            </div>

            <!-- Description -->
            <h4 class="page-header">Description</h4>
            <p ng-bind-html="item.description"></p>

            <!-- Original Link -->
            <h3><small>Link to original
              <a ng-href="{{item.link}}" target="_blank"> Here.</a>
            </small></h3>

            <!-- Categories/Tags -->
            <ul class="list-inline">
              <li><h4>Tags:</h4></li>
              <li ng-repeat="tag in item.tags track by $index">
                <a href="">{{tag}}</a>
              </li>
            </ul>

          </div> <!-- item_body -->
        </div> <!-- accordian-group (Item) -->
      </uib-accordion>

    </div> <!-- feed -->
  </div> <!-- container -->

  <!-- JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <script src="js/globals.js"></script>
  <script src="js/controller.js"></script>
</body>
</html>
