<!DOCTYPE html>
<html lang="en" ng-app="videoApp" ng-cloak>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Channel9 RSS Feed</title>
  <!-- CSS Files -->
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="feed container" ng-controller="videoCtrl">

      <!-- Page Header-->
      <div class="header">
        <ul class="list-inline">
          <li id="title">
            <a href="https://channel9.msdn.com/" target="_blank">
              <h1>{{feed.title}}</h1>
            </a>
          </li>
          <!-- Search -->
          <li id="search_bar">
            <input type="text" class="form-control" placeholder="Search"
              ng-model="search_val" maxlength=30 size=20
              ng-keyup="$event.keyCode == 13 && search_feed(search_val)"
              title="Search by Tags, Title or Author">
          </li>
          <li>
            <button type="submit" class="btn btn-primary"
              ng-click="search_feed(search_val)">Search</button>
          </li>
        </ul>
      </div> <!-- header -->

      <uib-accordion close-others="true">
        <div uib-accordion-group class="panel-default" is-open="status.open"
          ng-repeat="item in feed.items">

          <!-- Item Heading -->
          <uib-accordion-heading>
            <ul class="list-inline">
              <!-- Thumbnail -->
              <li>
                <img style="width:150px;"
                ng-src="{{item.thumbnail}}" alt="">
              </li>
              <!-- Title + Author -->
              <li>
                <h3>{{item.title}}</h3>
                <h5>By {{item.author}}</h5>
              </li>
              <!-- Open/Close Arrow -->
              <li class="pull-right">
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </li>
            </ul>
          </uib-accordion-heading>

          <!-- Item Body (dropdown) -->
          <div class="feed-body" ng-if="status.open">
            <!-- Description -->
            <p ng-bind-html="item.description"></p>

            <!-- Video -->
            <div>
              <video width="500" ng-src="{{item.video}}" controls>
              </video>
            </div>

            <!-- Categories/Tags -->
            <ul class="list-inline">
              <li><h4>Tags:</h4></li>
              <li ng-repeat="tag in item.tags track by $index"><a href="">{{tag}}</a></li>
            </ul>

          </div> <!-- item_body -->
        </div> <!-- accordian-group -->
      </uib-accordion>

  </div> <!-- feed container -->

  <!-- JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
  <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
  <script src="controller.js"></script>
</body>
</html>
